# use a whitelist because its easier

*
!package.json
!tsconfig.json
!.npmrc
!JWT_SECRET.*
!prisma
!src

#remove this if u have problems or for prod (also remember to uncomment npm i in the DockerFile too)
!node_modules
