# use a whitelist because its easier

*
!package.json
!tsconfig.json
!.npmrc
!prisma
!src

#remove this if u have problems or are deploying (also remember to add npm i to DockerFile)
!node_modules
